.plp-container{
    width:400px;
    height:250px;

    min-height: 100px;
    min-width: 200px;

    padding-top: 10px;
    overflow: hidden;
}

.plp-iframe{
    pointer-events: none;
    resize: both;

    position: relative;
    border: 1px solid black;
    height: 850px;
    width: 1310px;
    
    transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);

    transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
}

@media screen and (max-width: 1300px) {
    .plp-iframe {
        height: 720px;
        max-height: 720px;
        width: 1110px;
        max-width: 1110px;
    }
}

@media screen and (max-width: 1000px) {
    .plp-container{
        display: none;
    }
}