.plp-container{
    width:400px;
    height:250px;
    padding-top: 10px;
    overflow: hidden;
    pointer-events: none;
}

.plp-iframe{
    position: relative;
    border: 1px solid black;
    height: 850px;
    width: 1310px;
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
}

@media screen and (max-width: 1300px) {
    .plp-iframe {
        height: 720px;
        width: 1110px;
    }
}

@media screen and (max-width: 1000px) {
    .plp-container{
        display: none;
    }
}